<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Answer:)</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body>

<h1></h1>


<article class="container box style3">
    <header>
        <h2>Calculator</h2>
        <p>Just Enter your question!</p>
    </header>



    <section>
        <header>
            <h3></h3>
        </header>
        <form method="post" action="/answercon">
            <div class="row">

                <div class="col-12">
                    <p>
                        <input class="text" type="text" nid="question" name="question" value="" placeholder="Enter problem" />
                    </p>
                    <p th:text="${answer.getQuestion()}"/>
                    <p th:text="${answer.getAnswer()}"/>

                </div>

                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Calculate" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </section>
</article>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.poptrox.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>

