<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NumbersCalculaor</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body>

<h1></h1>
<!--
<form action="/answercon" method="post">
    <p>
        question: <input  type="text" id="question" name="question" value="">
    </p>

    <p>
        <input type="submit" value="Submit"/> <input type="reset" value="Reset">
    </p>
</form>
-->

<article class="container box style3">
    <header>
        <h2>Calculator</h2>
        <p>Just Enter your question!</p>
    </header>


    <section>
        <header>
            <h3>Descriptions:</h3>
            right way:
        </header>
        <p></p>
        <hr />
        <p></p>
    </section>


    <section>
        <header>
            <h3></h3>
        </header>
        <form method="post" action="/answercon">
            <div class="row">

                <div class="col-12">
                    <p>
                         <input class="text" type="text" nid="question" name="question" value="" placeholder="Enter problem" />
                    </p>

                </div>

                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Submit" /></li>
                        <li><input type="reset" class="style3" value="Clear Form" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </section>
</article>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.poptrox.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>